#!/bin/bash -l

# Calibrate the data and imaging

#SBATCH --account=GROUP
##SBATCH --reservation=STANDARDQ
#SBATCH --time=01:00:00
#SBATCH --nodes=1
#SBATCH --mem=HOSTMEMgb
#SBATCH --output=QUEUEDIR/OUTPUT.o%j
#SBATCH --error=QUEUEDIR/OUTPUT.e%j
#SBATCH --export=NONE

source /home/blao/course/bashrc_append
source /home/blao/course/profile_append

aprun="aprun -n 1 -d 20 -q "




